#group-container fieldset {
  flex-basis: 48%;
}

#group-container fieldset:nth-child(2n) {
  margin-left: 2%;
}

#group-container fieldset:nth-child(2n + 1) {
  margin-right: 2%;
}

.position-group header img:hover {
  cursor: pointer;
}

#receipt-image-preview {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

#receipt-image-preview > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bill-receipt-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#brand-list {
  gap: 1rem;
}

.select-brand-option {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.select-brand-option > * {
  position: absolute;  
  display: block;
  width: 100%;
  height: 100%;
}

.select-brand-option .select-brand-name {
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
}

.select-brand-option .select-brand-name:hover {
  opacity: 1;
}

.select-brand-option .select-brand-name h4 {
  text-align: center;
  line-height: 150px;
  color: white;
}