* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Navigation ***/

nav {
  display: block;
  width: 100%;
  height: 50px;
  background: cornflowerblue;
  box-shadow: 1px 1px 10px #333;
}

nav a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  color: #eee !important;
  cursor: pointer;
}

nav a:hover {
  background: white;
  color: black !important;
}

#content {
  display: block;
  width: 80%;
  margin: auto;
  padding: 25px;
}

/*** Forms ***/
.form-controls {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

/*** Dialogs ***/
dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100% !important;
  min-height: 100% !important;
  background: none;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

dialog .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #333;

  min-height: 250px;
  width: 600px;
}

dialog[name="position-note"] .content {
  width: 600px;
  height: 400px;
}

dialog[name="confirm-deletion"] .content {
  width: 600px;
  height: 250px;
}

dialog[name="bill-deletion"] .content {
  width: 600px;
  height: 225px;
}

dialog header {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #333;
}

dialog .body {
  padding: 15px;
}

dialog footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: row-reverse;
  gap: 10px;

  border-top: 1px solid #666;
}

/*** Buttons ***/
button.loading {
  position: relative;
}

button.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;

  width: 20px;
  height: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: white white transparent white;
  border-radius: 50%;
  animation: loader 2s linear 0s infinite forwards;
}

@keyframes loader {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
