* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[popover] {
  background: transparent;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 15% 1fr 15%;
  background: #f9fbfc;
}

header {
  height: 100px;
  grid-row: 1;
  grid-column: 1 / 4;
}

.no-events {
  pointer-events: none;
}

.display-on-hover {
  opacity: 0;
}

.display-on-hover:hover {
  opacity: 1;
}

#content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5rem;
  background: #fff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/*** Forms ***/
.form-controls {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

/*** Dialogs ***/
dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100% !important;
  min-height: 100% !important;
  background: none;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

dialog .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #333;
  padding-bottom: 60px;

  min-height: 250px;
  width: 600px;
}

dialog[name="position-note"] .content {
  width: 600px;
  height: 400px;
}

dialog[name="confirm-deletion"] .content {
  width: 600px;
  height: 250px;
}

dialog[name="bill-preview"] .content {
  width: 400px;
  height: 75%;
}

dialog[name="bill-deletion"] .content {
  width: 600px;
  height: 225px;
}

dialog[name="choose-group"] .content,
dialog[name="select-brand"] .content {
  width: 1000px;
  height: 750px;
}

dialog[name="bill-receipt-preview"] .content {
  max-width: 90%;
  width: auto;
  height: 90%;
}

dialog header {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #333;
}

dialog .body {
  padding: 15px;
}

dialog[name="bill-receipt-preview"] .body {
  height: 100%;
}

dialog footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: row-reverse;
  gap: 10px;

  border-top: 1px solid #666;
}

/*** Buttons ***/
button.loading {
  position: relative;
}

button.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;

  width: 20px;
  height: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: white white transparent white;
  border-radius: 50%;
  animation: loader 2s linear 0s infinite forwards;
}

@keyframes loader {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.group {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  overflow: hidden;
}

.group.small {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.group:last-of-type {
  font-size: 100px;
  line-height: 250px;
  text-align: center;
}

.group img {
  display: block;
  margin: 0px auto 5px auto;
  width: 250px;
  height: 250px;
}

.group.small img {
  width: 150px;
  height: 150px;
}

.group-information {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);

  cursor: pointer;

  opacity: 0;
}

.group:hover .group-information {
  opacity: 1;
}

.group h2 {
  display: block;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  margin: 0;
}

input[type="file"] ~ label {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 250px;
  border-radius: 5%;

  cursor: pointer;
}

input[type="file"] ~ label img {
  display: block;
  width: 150px;
  height: 150px;
}

input[type="file"]:not(:empty) ~ label {
  display: none;
}

/*** Position Group ***/
.position-group header {
  background: cornflowerblue;
}

.position-group header h2 {
  line-height: 75px;
}

.position-group header img {
  width: 75px;
  height: 75px;
}

#bills-table th {
  padding: 1.25rem 1rem;
  background: cornflowerblue;
}

#bills-table td {
  vertical-align: middle;
  padding: 0rem 1rem;
  line-height: 1rem;
}

#bills-table img {
  width: 32px;
  height: 32px;
}

#bills-table .btn-link img {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

#bills-table .btn.view img {
  fill: green;
}

#no-bills-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-bills-hint img {
  width: 20rem;
  height: 20rem;
}

#no-bills-hint p {
  font-size: 2rem;
}

table tr.dummy {
  display: none;
}