{% extends "base.html" %} 

{% load static %} 

{% block js %}
    <script src="{% static 'js/groups.js' %}" defer></script>
{% endblock %} 

{% block content %} 
    {% if is_admin %}
        <section class="card shadow p-5 mb-5">
            <h2 class="text-center mb-3">Allgemeine Gruppen</h2>
            <div id="global-groups" class="group-container">
                {% for group in global_groups %}
                    <div class="group card shadow" data-id="{{ group.id }}">
                        <img src="{{ group.icon.url }}" alt="Gruppenlogo" />
                        <div class="group-information">
                            <h2 class="mb-3">{{ group.name }}</h2>
                            <div>
                                <button
                                    class="btn btn-danger pl-3 pr-3 pt-2 pb-2"
                                    data-id="{{ group.id }}"
                                    onclick="onDeleteGroupClicked(event)"
                                >
                                    <i class="fa-solid fa-trash no-events"></i>
                                </button>
                                <button
                                    class="btn btn-primary pl-3 pr-3 pt-2 pb-2"
                                    data-id="{{ group.id }}"
                                    data-user="{{ group.user }}"
                                    data-name="{{ group.name }}"
                                    data-icon="{{ group.icon.url }}"
                                    onclick="onEditGlobalGroupClicked(event)"
                                >
                                    <i class="fa-solid fa-pen no-events"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div
                    id="add-global-group-button"
                    class="group card shadow"
                    onclick="onAddGlobalGroupClicked(event)"
                >
                +
                </div>
            </div>
        </section>
    {% endif %}

    <section class="card shadow p-5">
        <h2 class="text-center mb-3">Deine Gruppen</h2>
        <div id="user-groups" class="group-container">
            {% for user_group in user_groups %}
                <div class="group card shadow" data-id="{{ user_group.id }}">
                    <img src="{{ user_group.icon.url }}" />
                    <div class="group-information">
                        <h2 class="mb-3">{{ user_group.name }}</h2>
                        <div>
                            <button
                                class="btn btn-danger pl-3 pr-3 pt-2 pb-2"
                                data-id="{{ user_group.id }}"
                                onclick="onDeleteGroupClicked(event)"
                            >
                                <i class="fa-solid fa-trash no-events"></i>
                            </button>
                            <button
                                class="btn btn-primary pl-3 pr-3 pt-2 pb-2"
                                data-id="{{ user_group.id }}"
                                data-user="{{ user_group.user }}"
                                data-name="{{ user_group.name }}"
                                data-icon="{{ user_group.icon.url }}"
                                onclick="onEditGroupClicked(event)"
                            >
                                <i class="fa-solid fa-pen no-events"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            <div
                id="add-user-group-button"
                class="group card shadow"
                onclick="onAddUserGroupClicked(event)"
            >
                +
            </div>
        </div>
    </section>

    <dialog id="confirm-group-deletion-dialog" name="group-deletion">
        <div class="content">
            <header>
                <h1>Gruppe wirklich löschen?</h1>
            </header>
            <div class="body form-row">
                <div class="col-md">
                    <p>
                        Bist Du sicher, dass Du diese Gruppe löschen willst? Diese Aktion ist dauerhaft
                        und kann nicht rückgängig gemacht werden.
                    </p>
                </div>
            </div>
            <footer>
                <button
                        type="submit"
                        class="btn btn-primary pl-5 pr-5"
                        onclick="onDeleteGroupConfirmed(event)"
                >
                    Ja, löschen
                </button>
                <button
                    type="cancel"
                    class="btn btn-danger pl-4 pr-4"
                    onclick="onDeleteGroupAborted(event)"
                >
                    Nein, abbrechen
                </button>
            </footer>
        </div>
    </dialog>

    <dialog id="create-group-dialog">
        <div class="content" style="height: 600px">{% include "groups/create.html" %}</div>
    </dialog>

    <dialog id="edit-group-dialog">
        <div class="content" style="height: 500px">
            <header>
                <h1>Gruppe bearbeiten</h1>
            </header>
            <form id="edit-group-form" class="body" onsubmit="onGroupFormSubmitted(event)">
                <div class="form-row">
                    <input type="hidden" name="id" />
                    <input type="hidden" name="user" />
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <div class="form-group">
                            <input type="text" name="name" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="file" name="icon" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <img src="" style="width: 250px; height: 250px; display: inline-block" />
                        </div>
                    </div>
                </div>
            </form>
            <footer>
                <button 
                    type="submit" 
                    class="btn btn-primary pl-5 pr-5" 
                    form="edit-group-form"
                >
                    <i class="fa-solid fa-save mr-3 no-events"></i>Speichern
                </button>
                <button
                    type="cancel"
                    class="btn btn-danger pl-4 pr-4"
                    onclick="onEditGroupAbortClicked(event)"
                >
                    Abbrechen
                </button>
            </footer>
        </div>
    </dialog>

    <template id="group-template">
        <div class="group card shadow">
            <img src="" />
            <div lass="group-information">
                <h2 class="mb-3"></h2>
                <div>
                    <button><i class="fa-solid fa-trash no-events"></i></button>
                    <button><i class="fa-solid fa-pen no-events"></i></button>
                </div>
            </div>
        </div>
    </template>

    <script>
        const CREATE_GROUP_URL = "{% url 'create_group' %}";
        const EDIT_GROUP_URL = "{% url 'edit_group' 1 %}";
        const DELETE_GROUP_URL = "{% url 'delete_group' 1 %}";
        const CSRF_MIDDLEWARE_TOKEN = "{{ csrf_token }}";
        const USER_ID = "{{ user_id }}";
    </script>

{% endblock %}
