{% extends "base.html" %} 

{% load static %} 

{% block js %}
  <script src="{% static 'js/bills.js' %}" defer></script>
{% endblock %} 

{% block content %}
<table id="bills-table" class="table table-bordered">
  <thead>
    <tr>
      <th data-width="5%"><input type="checkbox"></th>
      <th data-width="10%">Name</th>
      <th>Datum</th>
      <th>Positionen</th>
      <th>Total</th>
      <th>Kategorien</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for bill in bills %}
    <tr data-id="{{ bill.pk }}">
      <td><input type="checkbox"></td>
      <td>{{ bill.name }}</td>
      <td>{{ bill.date|date:"d.m.Y" }}</td>
      <td>{{ bill.position_count }}</td>
      <td>{{ bill.total }}&euro;</td>
      <td>
        {% for icon in bill_groups|get_item:bill.pk %}
          {% if icon is not None %}
            <img src="{{ icon.get_url }}" title="{{ icon.get_name }}">
          {% endif %}
        {% endfor %}
      </td>
      <td>
        <button class="btn btn-link view"><img src="{% static 'images/view.svg' %}"></button>
        <a class="btn btn-link edit" href="{% url 'edit_bill' bill.pk %}"><img src="{% static 'images/edit.svg' %}"></a>
        <button class="btn btn-link delete" data-id="{{ bill.pk }}" onclick="onDeleteBillClicked(event)">
          <img src="{% static 'images/delete.svg' %}">
        </button>
      </td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="7">
          <div id="no-bills-hint" class="mb-5">
            <img src="{% static 'images/eye.svg' %}">
            <p>Du hast keine Rechnungen</p>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<div class="d-flex justify-content-center">
  <a class="btn btn-primary" href="{% url 'create_bill' %}"><i class="fa fa-plus fa-lg mr-3"></i>Neue Ausgabe</a>
</div>

<dialog id="confirm-bill-deletion-dialog" name="bill-deletion">
  <div class="content">
    <header>
      <h1>Ausgabe wirklich löschen?</h1>
    </header>
    <div class="body form-row">
      <div class="col-md">
        <p>
          Bist Du sicher, dass Du diese Ausgabe löschen willst? Diese Aktion ist dauerhaft
          und kann nicht rückgängig gemacht werden.
        </p>
      </div>
    </div>
    <footer>
      <button type="submit" class="btn btn-primary pl-5 pr-5" onclick="onBillDeletionConfirmClicked(event)">
        Ja, löschen
      </button>
      <button type="cancel" class="btn btn-danger pl-4 pr-4" onclick="onBillDeletionAbortClicked(event)">
        Nein, abbrechen
      </button>
    </footer>
  </div>
</dialog>

<script>
  const DELETE_BILL_URL = "{% url 'delete_bill' 0 %}";
  const CSRF_MIDDLEWARE_TOKEN = "{{ csrf_token }}";
</script>

{% endblock %}