{% extends "base.html" %} {% load static %} {% block js %}
<script src="{% static 'js/bills.js' %}" defer></script>
{% endblock %} {% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th data-width="10%">Name</th>
      <th>Datum</th>
      <th>Positionen</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for bill in bills %}
    <tr data-id="{{ bill.pk }}">
      <td>{{ bill.name }}</td>
      <td>{{ bill.date|date:"d.m.Y" }}</td>
      <td>{{ bill.position_count }}</td>
      <td>{{ bill.total }}&euro;</td>
      <td>
        <a href="{% url 'edit_bill' bill.pk %}">Bearbeiten</a>
        <button
          class="btn btn-danger"
          data-id="{{ bill.pk }}"
          onclick="onDeleteBillClicked(event)"
        >
          Löschen
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<dialog id="confirm-bill-deletion-dialog" name="bill-deletion">
  <div class="content">
    <header>
      <h1>Ausgabe wirklich löschen?</h1>
    </header>
    <div class="body form-row">
      <div class="col-md">
        <p>
          Bist Du sicher, dass Du diese Ausgabe löschen willst? Diese Aktion ist dauerhaft
          und kann nicht rückgängig gemacht werden.
        </p>
      </div>
    </div>
    <footer>
      <button
        type="submit"
        class="btn btn-primary pl-5 pr-5"
        onclick="onBillDeletionConfirmClicked(event)"
      >
        Ja, löschen
      </button>
      <button
        type="cancel"
        class="btn btn-danger pl-4 pr-4"
        onclick="onBillDeletionAbortClicked(event)"
      >
        Nein, abbrechen
      </button>
    </footer>
  </div>
</dialog>

<script>
  const DELETE_BILL_URL = "{% url 'delete_bill' 0 %}";
  const CSRF_MIDDLEWARE_TOKEN = "{{ csrf_token }}";
</script>

{% endblock %}
