{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block js %}
<script src="{% static 'js/forms.js' %}" defer></script>
<script src="{% static 'js/bills.js' %}" defer></script>
{% endblock %} {% block content %}
<form id="bill-form" onsubmit="onBillFormSubmitted(event)">
  {% csrf_token %}
  <fieldset class="card shadow p-3 mb-5">
    <div class="form-row">{{ bill_form.user }} {{ bill_form.total }}</div>
    <div class="form-row">
      <div class="col-md">{{ bill_form.date|as_crispy_field }}</div>
      <div class="col-md">{{ bill_form.receipt|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="col-md">{{ bill_form.description|as_crispy_field }}</div>
    </div>
  </fieldset>

  <fieldset id="bill-positions" class="card shadow p-3 mb-5">
    {% comment %} Header for positions {% endcomment %}
    <div class="form-row">
      <div class="col-md-8">
        <p>Name</p>
      </div>
      <div class="col-md-2">
        <p>Preis</p>
      </div>
      <div class="col-md-1">
        <p>Menge</p>
      </div>
      <div class="col-md-1"></div>
    </div>

    {{ position_formset.management_form }} {% for position_form in position_formset %}
    <div class="form-row">
      <div class="col-md-8">{{ position_form.name|as_crispy_field }}</div>
      <div class="col-md-2">{{ position_form.price|as_crispy_field }}</div>
      <div class="col-md-1">{{ position_form.quantity|as_crispy_field }}</div>
      <div class="col-md-1">
        <i
          class="fa-solid fa-xl fa-comment"
          style="transform: translate(10px, 10px)"
          data-index="{{ forloop.counter }}"
          onclick="onPositionNoteClicked(event)"
        ></i>
        <i
          class="fa-solid fa-xl fa-trash"
          style="transform: translate(10px, 10px)"
          data-index="{{ forloop.counter }}"
          onclick="onDeletePositionClicked(event)"
        ></i>
      </div>
      {{ position_form.note }}
    </div>
    {% endfor %}
    <button class="btn btn-success" onclick="onNewPositionClicked(event)">+</button>
  </fieldset>

  <fieldset class="card shadow p-3 mb-5">
    <p>Summe: <span id="bill-sum">0 &euro;</span></p>
  </fieldset>

  <div class="form-controls">
    <button class="btn btn-primary" type="submit">Speichern</button>
    <button class="btn btn-secondary" type="reset">Zurücksetzen</button>
    <button class="btn btn-danger" type="cancel">Abbrechen</button>
  </div>
</form>

<dialog id="position-note-dialog" name="position-note">
  <div class="content">
    <header>
      <h1>Titel</h1>
    </header>
    <div class="body form-row">
      <textarea id="bill-position-note" rows="5" resizable="false"></textarea>
    </div>
    <footer>
      <button class="btn btn-primary" onclick="onPositionNoteSaveClicked(event)">
        Speichern
      </button>
      <button class="btn btn-danger" onclick="onPositionNoteAbortClicked(event)">
        Abbrechen
      </button>
    </footer>
  </div>
</dialog>

<script>
  const CREATE_BILL_URL = "{% url 'create_bill' %}";
</script>

{% endblock %}
