{% extends "base.html" %} 

{% load crispy_forms_tags %} 
{% load static %} 
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/bill.css' %}"></link>
{% endblock %}

{% block js %}
<script src="{% static 'js/forms.js' %}" defer></script>
<script src="{% static 'js/bill.js' %}" defer></script>
{% endblock %} 

{% block content %}
<form id="bill-form" onsubmit="onBillFormSubmitted(event)">
  {% csrf_token %}
  <fieldset class="card shadow p-3 mb-5">
    <div class="form-row">
      {{ bill_form.id }} {{ bill_form.user }} {{ bill_form.total }}
    </div>
    <div class="form-row">
      <div class="col-md-9">
        <div class="form-row">
          <div class="col-md-8">{{ bill_form.name|as_crispy_field }}</div>
          <div class="col-md-4">{{ bill_form.date|as_crispy_field }}</div>          
        </div>

        {% comment %} Select for brand {% endcomment %}
        <div class="form-row">
          <div class="col-md-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button 
                  class="btn btn-outline-secondary" 
                  type="button"
                  onclick="onSelectBrandButtonPressed(event)"
                >
                  <i class="fa-solid fa-shop mr-2"></i>
                  {% trans 'Choose brand' %}
                </button>
              </div>
              <select name="brand" class="custom-select" disabled>
                {% if bill_form.instance.brand %}
                  <option value="{{ bill_form.instance.brand.pk }}">{{ bill_form.instance.brand.name }}</option>
                {% else %}
                  <option></optioN>
                {% endif %}
              </select>
            </div>
          </div>
        </div>

        {% comment %} Select for address {% endcomment %}
        <div class="form-row">
          <div class="col-md">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button 
                  id="choose-address-button"
                  class="btn btn-outline-secondary" 
                  type="button"
                  onclick="onSelectAddressClicked(event)"
                  title="{% trans 'Please choose a brand first' %}"
                  disabled
                >
                  <i class="fa-solid fa-location-dot mr-2"></i>
                  {% trans 'Choose address' %}
                </button>
              </div>
              <select class="custom-select" name="address" disabled>
                {% if bill_form.instance.address %}
                  <option value="{{ bill_form.instance.address.pk }}">{{ bill_form.instance.address }}</option>
                {% else %}
                  <option></option>
                {% endif %}
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md">{{ bill_form.description|as_crispy_field }}</div>
        </div>
      </div>
      <div class="col-md-3">
        <label>{% trans 'Kassenzettel' %}</label>
        <input type="file" id="id_receipt" name="receipt" accept="image/*" onchange="onReceiptImageChanged(event)" style="display: none;">
        <div id="receipt-image-preview" style="width: 100%; aspect-ratio: 1 / 1; height: unset;">
          {% if not bill_form.instance.receipt %}
            <img 
              style="width: 100%; height: 100%; border-radius: 5%"
              src="{% static 'images/groups/Uncategorized.webp' %}"
            />
            {% else %}
            <img 
              style="width: 100%; height: 100%; border-radius: 5%"
              src="{{ bill_form.instance.receipt.url }}"
            />
            <div id="bill-receipt-actions" class="display-on-hover">
              <label class="btn btn-primary mb-2" for="id_receipt">
                <i class="fa fa-edit me-2"></i>
                Ändern
              </label>
              <button 
                class="btn btn-success"
                type="button"
                onclick="onShowReceiptClicked(event)"
              >
                <i class="fa fa-eye me-2"></i>
                Ansehen
              </button>
            </div>
          {% endif %}
        </label>
    </div>
  </fieldset>

  <div id="group-container" class="d-flex flex-row flex-wrap">
    {{ position_formset.management_form }}
    <fieldset id="bill-positions" class="card shadow p-3 mb-5 position-group">
      <header class="mb-3 p-3 d-flex flex-row" onclick="onEditGroupClicked(event)" data-mode="edit">
        <img src="{% static 'images/groups/Uncategorized.webp' %}"/>
        <h2 class="ml-3 mb-0">Keine Kategorie</h2>
      </header>
      {% comment %} Header for positions {% endcomment %}
      {% include "bills/group_header.html" %}
      
      {% for position_form in group_positions|get_item:None %}
        {% include "bills/position.html" with position=position_form %}
      {% endfor %}

      <div class="d-flex justify-content-center">
        <button class="btn btn-success" onclick="onNewPositionClicked(event)">
          <i class="fa-solid fa-plus fa-lg no-event mr-2"></i>Position hinzufügen
        </button>
      </div>
    </fieldset>

    {% if group_ids|length > 0 %}
      {% for group_id in group_ids %}
        {% with group=groups|get_item:group_id %}
          <fieldset id="bill-positions" class="card shadow p-3 mb-5 position-group">
            <header class="mb-3 p-3 d-flex flex-row" onclick="onEditGroupClicked(event)" data-mode="edit">
              <img src="{{ group.get_url }}"/>
              <h2 class="ml-3 mb-0">{{ group.name }}</h2>
            </header>
            {% comment %} Header for positions {% endcomment %}
            {% include "bills/group_header.html" %}
            
            {% for position_form in group_positions|get_item:group_id %}
              {% include "bills/position.html" with position=position_form %}
            {% endfor %}
      
            <div class="d-flex justify-content-center">
              <button class="btn btn-success" onclick="onNewPositionClicked(event)">
                <i class="fa-solid fa-plus fa-lg no-event mr-2"></i>Position hinzufügen
              </button>
            </div>
          </fieldset>
        {% endwith %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="d-flex justify-content-center mt-5 mb-5">
    <button
      id="add-group-button"
      class="btn btn-primary"
      onclick="onNewGroupButtonClicked(event)"
      data-mode="add"
    >
      <i class="fa-solid fa-plus fa-lg no-event mr-2"></i>Gruppe hinzufügen
    </button>
  </div>

  <fieldset class="card shadow p-3 mb-5">
    <p>Summe: 
      <span id="bill-sum">
        {{ bill_form.total.value }}&nbsp;&euro;
      </span>
    </p>
  </fieldset>

  <div class="form-controls">
    <button class="btn btn-primary" type="submit">Speichern</button>
    <button class="btn btn-secondary" type="reset">Zurücksetzen</button>
    <button class="btn btn-danger" type="cancel">Abbrechen</button>
  </div>
</form>

<dialog id="position-note-dialog" name="position-note">
  <div class="content">
    <header>
      <h1>Titel</h1>
    </header>
    <div class="body form-row">
      <textarea id="bill-position-note" rows="5" resizable="false"></textarea>
    </div>
    <footer>
      <button class="btn btn-primary" onclick="onPositionNoteSaveClicked(event)">
        Speichern
      </button>
      <button class="btn btn-danger" onclick="onPositionNoteAbortClicked(event)">
        Abbrechen
      </button>
    </footer>
  </div>
</dialog>

<dialog id="bill-receipt-dialog" name="bill-receipt-preview">
  <div class="content">
    <div class="body form-row">
      <img style="max-width: 100%; max-height: 100%; width: auto;" src="" alt="">
    </div>
    <footer>
      <a href="{{ bill_form.instance.receipt.url }}" class="btn btn-success" download="{{ bill_form.instance.name }}" id="download-receipt-button">
        <i class="fa fa-download me-2"></i>
        Herunterladen
      </a>
      <button class="btn btn-danger" onclick="onCloseReceiptPreviewClicked(event)">Schließen</button>
    </footer>
  </div>
</dialog>

<dialog id="choose-group-dialog" name="choose-group">
  <div class="content">
    <header>
      <h1>Gruppe auswählen</h1>
    </header>
    <div
      class="body form-row"
      style="overflow-y: auto; display: block; height: calc(750px - 77px)"
    >
      <h2>Globale Gruppen</h2>
      <ul id="global-group-list" class="d-flex flex-row flex-wrap" style="gap: 10px"></ul>
      <h2 class="mt-3">Deine Gruppen</h2>
      <ul id="user-group-list" class="d-flex flex-row flex-wrap" style="gap: 10px"></ul>
    </div>
    <footer class="d-flex flex-row-reverse">
      <button class="btn btn-danger" onclick="onAbortChoosingGroupClicked(event)">Abbrechen</button>
    </footer>
  </div>
</dialog>

<dialog id="select-brand-dialog" name="select-brand">
  <div class="content">
    <header>
      <h1>{% trans 'Choose brand' %}</h1>
    </header>
    <div
      class="body form-row"
      style="overflow-y: auto; display: block; height: calc(750px - 160px)"
    >
      <div class="form-row">
        <div class="col-md">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </div>
            <input 
              type="text" 
              id="brand-search-input" 
              class="form-control" 
              placeholder="{% trans 'Search brands...' %}" 
              onkeyup="onBrandSearchInputChanged(event)"
            />
          </div>
        </div>
      </div>
      <div id="brand-list" class="form-row p-3 d-flex justify-content-start">
      </div>
    </div>
    <footer class="d-flex flex-row-reverse">
      <button class="btn btn-primary">Auswählen</button>
      <button class="btn btn-danger" onclick="onAbortChoosingGroupClicked(event)">Abbrechen</button>
    </footer>
  </div>
</dialog>

<dialog id="select-address-dialog" name="select-address">
  <div class="content">
    <header>
      <h1>{% trans 'Choose address' %}</h1>
    </header>
    <div
      class="body form-row"
      style="overflow-y: auto; display: block; height: calc(750px - 160px)"
    >
      <form id="address-filter-form" onsubmit="onAddressFormSubmitted(event)">
          <input name="id" type="hidden">
            {% csrf_token %}
            <div class="form-row mb-2">
                <div class="col-md-6">
                    <select 
                        name="country"
                        class="custom-select"
                        onChange="onAssignAddressInputChanged(event)"
                    >
                        {% for country in countries %}
                            <option value="{{ country.pk }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <input 
                        class="form-control"
                        type="text"
                        name="city"
                        placeholder="City"
                        onkeyup="onAssignAddressInputChanged(event)"
                    >
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col-md-6">
                    <input
                        class="form-control"
                        type="text"
                        name="region"
                        placeholder="Region"
                        onkeyup="onAssignAddressInputChanged(event)"
                    >
                </div>
                <div class="col-md-6">
                    <input
                        class="form-control"
                        type="text"
                        name="postal_code"
                        placeholder="Postleitzahl"
                        onkeyup="onAssignAddressInputChanged(event)"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md">
                    <button 
                        class="btn btn-primary"
                        onclick="onUpdateAddressesClicked(event)"
                    >
                        <i class="fa fa-undo mr-2"></i>
                        {% trans 'Update' %}
                    </button>
                </div>
            </div>
        </form>
      <div id="address-list" class="form-row p-3 d-flex justify-content-start">
        <div id="no-addresses-hint" class="badge bg-warning" style="display: none">
          {% trans 'No address matches the search parameters' %}
        </div>
        <form id="choose-address-form" style="width: 90%; height; 90%; margin: auto; display: block" onsubmit="onSelectAddressFormSubmitted(event)">
          <div class="form-row">
            <div class="col-md"-12>
              <select name="address" class="custom-select" required>
                {% if bill_form.instance.address %}
                  <option value="{{ bill_form.instance.address.pk }}">{{ bill_form.instance.address }}</option>
                {% else %}
                  <option></option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="d-flex flex-row-reverse">
      <button class="btn btn-primary" form="choose-address-form">{% trans 'Select address' %}</button>
      <button class="btn btn-danger" onclick="onAbortChoosingAddressClicked(event)">{% trans 'Cancel' %}</button>
    </footer>
  </div>
</dialog>

<template id="group-template">
  <div class="group small" onclick="onGroupSelected(event)">
    <img class="no-events" />
    <div class="group-information no-events">
      <h2></h2>
    </div>
  </div>
</template>

<template id="position-group-template">
  <fieldset class="position-group card shadow p-3 mb-5">
    {% comment %} Header for positions {% endcomment %}
    <header class="mb-3 p-3 d-flex flex-row">
      <img />
      <h2 class="ml-3 mb-0"></h2>
    </header>
    
    {% include "bills/group_header.html" %}

    {% for index in "abcde"|make_list %}
      {% include "bills/position.html" with position=None %}
    {% endfor %}

    <div class="d-flex justify-content-center">
      <button class="btn btn-success" onclick="onNewPositionClicked(event)">
        <i class="fa-solid fa-plus fa-lg no-event mr-2"></i>Position hinzufügen
      </button>
    </div>
  </fieldset>
</template>

<template id="select-brand-template">
  <div class="select-brand-option card shadow">
    <img>
    <div class="select-brand-name">
      <h4></h4>
    </div>
  </div>
</template>


<script>
  const CREATE_BILL_URL = "{% url 'create_bill' %}";
  const EDIT_BILL_URL = "{% url 'edit_bill' 0 %}";
  const ALL_GROUPS_URL = "{% url 'all_groups' %}";
  const GET_ALL_SHOPS_URL = "{% url 'all_brands' %}";
  const SEARCH_BRANDS_URL = "{% url 'search_brands' %}";
  const SEARCH_ADDRESSES_URL = "{% url 'search_addresses' %}";
  const CSRF_MIDDLEWARE_TOKEN = "{{ csrf_token }}";

  setupCallbacks.push(() => {
    const brandSelected = document.querySelector("select[name='brand'] option").innerText !== "";
    if (brandSelected){
      const addressSelect = document.querySelector("select[name='address']");
      addressSelect.previousElementSibling.querySelector("button").disabled = false;
    }
  });
</script>

{% endblock %}
