{% load static %}

<html>
  <head>
    {% block title %} {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/financewatcher.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/fontawesome.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}" />
    {% block css %} {% endblock %}

    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% block js %} {% endblock %}
  </head>

  <body>
    <nav>
      <a>Dashboard</a>
      <a href="{% url 'bills' %}">Meine Ausgaben</a>
      <a href="{% url 'groups' %}">Meine Gruppen</a>
    </nav>

    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
